#footer {
  background-color: $bg-color;
  .container {
    .footer {
      padding: 100px 0px;
      .head {
        display: flex;
        justify-content: space-between;
        .left {
          .ear {
            i {
              color: $color-green;
              margin-bottom: 10px;
            }
            span {
              color: $button-hover-color;
            }
            p {
              font-weight: 600;
              letter-spacing: 2px;
            }
          }
        }
        .right {
          border: 1px solid $bg-color;
          border-radius: 3%;
          background-color: white;
          width: 40%;
          .form {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin: 25px;
            color: #6b7f92;
            text-align: center;
            input {
              width: 100%;
              border: 1px solid white;
              border-radius: 3%;
              padding: 5px 0px;
              padding-left: 10px;
              background-color: $bg-color;
            }
            h2 {
              margin-bottom: 30px;
            }
            textarea {
              width: 100%;
              padding-top: 5px;
              padding-left: 10px;
              font-size: large;
              background-color: $bg-color;
              border: 1px solid white;
            }
          }
          button {
            width: 100%;
            background-color: $color-green;
            color: white;
            padding: 10px 0;
            word-spacing: 10px;
            font-weight: bold;
            letter-spacing: 1px;
            transition: 0.5s;
            border: 1px solid white;
            border-bottom-left-radius: 3%;
            border-bottom-right-radius: 3%;
            &:hover {
              background-color: $button-hover-color;
              color: black;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  #footer {
    .container {
      .footer {
        .head {
          flex-direction: column;
          row-gap: 40px;
          .left {
            width: 100%;
            text-align: center;
          }
          .right {
            width: 100%;
          }
        }
      }
    }
  }
}
