*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration:none ;
}
h1{
    text-align: center;
    font: bold;
    font-size: 60px;
}
h2{
    text-align: center;
    font: bold;
    font-size: 60px;
}
ul{
    display: flex;
    margin-left: 610px;
    /* border: 1px solid black; */
}
li{
    margin: 7px;
    padding: 0px 37px;
    border: 2px solid #C77136;
}
ul li a{
    font-size: 30px;
    color: black;
}
li:hover{
    background-color: #C77136;
}
.intro{
    display: flex;
    align-items: center;
}
.intro img{
    margin: auto;
    width: auto;
    max-height: max-content;
    height: fit-content;
}
.contact form{
    width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font: bold;
}
.contact form{
    margin-left: 800px;
}
.contact button{
    margin-left: 800px;
    margin-top: 6px;
    width: 190x;
    height: 34px;
}
.contact a:hover{
    color: #C77136;
}

